# Django Security
SECRET_KEY=django-insecure-replace-this-in-production
DEBUG=False
ALLOWED_HOSTS=your-username.pythonanywhere.com,localhost,127.0.0.1

# Database (Default is sqlite3)
# DATABASE_URL=postgres://user:pass@localhost:5432/dbname

# Static Files
# STATIC_ROOT=/home/your-username/fleetops_showcase/static

# Production Security
CSRF_TRUSTED_ORIGINS=https://your-username.pythonanywhere.com
SECURE_SSL_REDIRECT=True
